<%= form_with model: task do |f| %>
  <% if task.errors.any? %>
    <div class="form-errors">
      <h3>Errors:</h3>
      <ul>
        <% task.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-field">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div class="form-field">
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities.keys.map { |p| [p.humanize, p] } %>
  </div>

  <div class="form-field">
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save Task", class: "btn" %>
    <%= link_to "Back", tasks_path, class: "btn btn-ghost" %>
  </div>
<% end %>
  